*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
  
/* ----------------navigation------------------- */
.nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    /* text-align: left;
    float: right; */
    font-size: 15px;
    font-weight: 700;
}
.nav-bar ul li a:hover{
    color: white!important;
}
.navbar{
    background: #087768;
}


.forgot-pswd{
    width: 100%;
    height: 85vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('banner.jpg');
    background-position: center;
    background-size: cover;
}
.forgot-pswd-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* overflow: hidden; */
    width: 500px;
    background: white;
    padding: 30px;
    border-radius: 15px;
}
.forgot{
  padding: 12px;
}
.forgot-pswd-box h2{
    text-align: center;
    font-weight: bold;
    color: #087768;
}
.forgot-pswd-box a{
    padding: 5px;
    display: block;
    text-decoration: none;
    font-size: 15px;
}

@media (max-width:700px) {
    .forgot-pswd-box{
        width: 370px;
    }
}
/* ----------footer------------ */
.footer{
    background: #087768;
    padding: 12px;
    color: white;
}